<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.AzocDbConnectionString"
            connectionString="Server=LAPTOP-2NF0HEH\SQLEXPRESS;Database=AzocDb;User Id=sa;Password= _Mi@Sqlserver$Jevc&amp;27!;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>